*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
.clipboardCard {
    max-width: 600px;
    margin: 100px auto;
    background: #f1f1f1;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}
.clipboardInfo {
    padding: 15px;
    display: flex;
    align-items: center;
}
.clipboardInfo .copyBtn {
    padding: 10px 15px;
    background: #03a9f4;
    color: #fff;
    border: none;
    font-size: 2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 135px;
    text-transform: capitalize;
}

.clipboardInfo input {
    padding: 10px;
    font-size: 2rem;
    border: 0;
    background-color: transparent;
}
.clipboardInfo input:focus{
    outline: none;
}